/* static/portfolio_website/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.2em;
    line-height: 1.5;
}

.arrow-container {
    position: relative;
    width: 100%;
    height: auto;
}

.img-arrow {
    width: 80%;
    height: auto;
}
