/* static/portfolio_website/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
    font-size: 1.2em;
    line-height: 1.5;
}

.arrow-container {
    position: relative;
    width: 100%;
    height: auto;
}

.img-arrow {
    width: 80%;
    height: auto;
}

/* Flexbox layout for top content */
.top-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
}

.left-content {
    flex: 0 0 40%; /* Adjust width as needed */
    text-align: center;
}

.right-content {
    flex: 1;
    text-align: left;
    padding-left: 20px; /* Add space between image and text */
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    flex: 0 0 48%; /* Adjust to make space between items */
    margin-bottom: 30px; /* Space between projects */
}

.project {
    margin-top: 50px; /* Add space above each project */
}

/* Click for More link styling */
.click-more-container {
    margin-top: 50px; /* Space above the link */
    margin-bottom: 100px; /* Space below the link */
}

.click-more-container .btn {
    margin-top: 20px; /* Space above the button */
}
