/* static/portfolio_website/style.css */

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* Images */
.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

/* Typography */
.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: #00ff99;
}

.lead {
    font-size: 1.2em;
    line-height: 1.5;
    color: #b0b0b0;
}

/* Arrow Styling */
.arrow-container {
    position: relative;
    width: 100%;
    height: auto;
}

.img-arrow {
    width: 80%;
    height: auto;
    filter: invert(1);
}

/* Layout */
.top-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
}

.left-content {
    flex: 0 0 40%;
    text-align: center;
}

.right-content {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

/* Projects */
.project {
    margin-top: 40px;
}

.project-item .btn-source-code {
    margin-top: 20px !important;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    flex: 0 0 48%;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);
}

.project-item h2 {
    color: #00ccff !important;
    font-size: 2rem;
    margin-top: 0;
}

.project-item p {
    color: #c0c0c0;
}

.project-item .btn-primary {
    background-color: #00ccff;
    border-color: #00ccff;
    color: #121212;
    transition: background-color 0.3s, color 0.3s;
}

.project-item .btn-primary:hover {
    background-color: #00ff99;
    border-color: #00ff99;
    color: #121212;
}

/* Click for More */
.click-more-container .btn {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #00ff99;
    border-color: #00ff99;
    color: #121212;
}

.click-more-container .btn:hover {
    background-color: #00ccff;
    border-color: #00ccff;
    color: #121212;
}

/* Responsive Design */
@media (max-width: 768px) {
    .top-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-content, .right-content {
        flex: 1 0 100%;
        padding-left: 0;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Navbar */
.navbar {
    background-color: #1e1e1e;
    box-shadow: 0 2px 10px rgb(0, 255, 153);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar-nav {
    margin-left: 130px;
}

@media (max-width: 768px) {
    .navbar-nav {
        margin-left: 0;
    }
}

.navbar-wrapper {
    width: 100%;
}

.navbar .navbar-toggler {
    border-color: #00ccff;
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='%2300ccff' stroke-linecap='round' stroke-width='2' d='M5 7h20M5 15h20M5 23h20'/%3E%3C/svg%3E");
}

.navbar a {
    color: #00ccff;
}

.navbar a:hover {
    color: #00ff99;
}

/* Optional: Styling for active links */
.navbar .nav-item.active .nav-link {
    color: #00ff99 !important;
}

/* Animations */
.animate__animated {
    animation-duration: 3s;
}

.animate__fadeIn,
.animate__fadeInUp {
    animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

/* Form Styles */
.form-group label {
    color: #00ccff;
}

.form-group .form-control {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border: 1px solid #00ccff;
    border-radius: 5px;
}

.form-group .form-control:focus {
    border-color: #00ff99;
    box-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
}

.btn-primary {
    background-color: #00ccff;
    border-color: #00ccff;
    color: #121212;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #00ff99;
    border-color: #00ff99;
    color: #121212;
}

/* Alert Styles */
.alert {
    background-color: #1e1e1e;
    border: 1px solid #00ccff;
    color: #e0e0e0;
}

.alert-success {
    border-color: #00ff99;
    color: #00ff99;
}

.alert-danger {
    border-color: #ff4444;
    color: #ff4444;
}
